/*기본적인 폰트*/
body {
  margin: 0;
  font-family: "Source Sans Pro";
  background-color: rgb(255, 255, 255);
}
.header {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 15px;
  padding-right: 0;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 3px;
}
.header2 {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 10px;
  margin: 0;
}

/*전체적 배치 배경 및 로고 작업 Header*/
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
  background: rgb(138, 169, 228);
}

.navbar_logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar_logo i {
  color: rgb(255, 255, 255);
}

/*메뉴 배치작업 및 데코레이션*/
.navbar_menu {
  list-style: none;
  display: flex;
  padding-left: 0px 8px;
}

.navbar_menu li {
  padding: 8px 30px;
}
.navbar_menu li:hover {
  background: rgb(153, 223, 245);
  border-radius: 4px;
}
/*아이콘 작업및 배치*/
.navbar_icons {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.navbar_icons li {
  padding: 8px 4px;
}

.navbar_toggle {
  color: rgb(255, 255, 255);
  font-size: 30px;
  display: none;
}

/*Max 픽셀이 줄어듬에따른 배치 변경 내역*/
@media screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar_menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none; /*display를 None으로*/
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_icons {
    justify-content: center;
    width: 100%;
  }

  .navbar_toggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .navbar_menu.active {
    display: flex; /*디스플레이를 플렉스로 변경한다.*/
  }
}
/*Header End*/
/*body Start*/
/* 게시판 글쓰기(board_form.php) */
#board_box {
  position: relative;
  width: 800px;
  margin: 0 auto;
}
.menu {
  width: 790px;
  padding: 0;
}
#board_box h3 {
  margin-top: 30px;
  padding: 10px;
  border-bottom: solid 2px #516e7f;
  font-size: 20px;
}
#board_form span {
  display: inline-block;
}
#board_form .col1 {
  width: 150px;
}
#board_form ul {
  float: left;
}
#board_form li {
  padding: 12px;
  border-bottom: solid 1px #dddddd;
}
#board_form input:not([type="checkbox"]):not([type="file"]) {
  width: 500px;
  height: 25px;
}
#board_form textarea {
  width: 500px;
  height: 150px;
}
#board_form #text_area {
  position: relative;
  height: 158px;
}
#board_form #text_area .col1 {
  position: absolute;
  top: 10px;
}
#board_form #text_area .col2 {
  position: absolute;
  left: 166px;
}
#board_box .buttons {
  text-align: right;
  margin: 20px 0 40px 0;
}
#board_box .buttons li {
  display: inline;
}
#board_box .buttons button {
  padding: 5px 10px;
  cursor: pointer;
}
#board_box .buttons form {
  display: inline-block;
}
/* 게시판 목록보기(board_list.php) */
#board_list li {
  display: flex;
  padding: 5px 0;
  border-bottom: solid 1px #dddddd;
}
#board_list span {
  display: inline-block;
  text-align: center;
}
#board_list .col1 {
  width: 80px;
  font-size: 13px;
}
#board_list .col2 {
  width: 340px;
  text-align: left;
  font-size: 12px;
}

#board_list .col3 {
  width: 80px;
  font-size: 11px;
}
#board_list .col4 {
  width: 40px;
  font-size: 15px;
}
#board_list .col5 {
  width: 150px;
  font-size: 15px;
}
#board_list .col6 {
  width: 40px;
  font-size: 15px;
}
#page_num {
  text-align: center;
  margin: 30px 0;
}
#page_num li {
  display: inline;
}
/* 게시판 내용보기(board_view.php) */
#board_box {
  width: 800px;
  margin: 0 auto;
}
#board_box .title {
  margin-top: 30px;
  padding: 5px;
  border-bottom: solid 2px #516e7f;
  font-size: 20px;
}
#view_content li:nth-child(1) {
  padding: 5px;
  font-size: 13px;
  border-bottom: solid 1px #aaaaaa;
}
#view_content .col2 {
  float: right;
}
#view_content li:nth-child(2) {
  display: flex;
  padding: 15px 15px 80px 15px;
  font-size: 13px;
  border-bottom: solid 1px #cccccc;
}
#view_content li:nth-child(3) button {
  padding: 5px 20px;
  margin: 15px 0 40px 720px;
  cursor: pointer;
}

/*body End*/
/*footer start*/
footer {
  display: flex;
  margin: 0 auto;
  padding-top: 20px;
  width: 1000px;
  height: 280px;
  align-items: center;
}
footer div {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

footer div.logo i {
  color: orange;
  font-size: 2rem;
  font-weight: 700;
  align-items: center;
}
.banner {
  display: flex;
  justify-content: center;
}

footer ul.features-content {
  list-style: none;
  line-break: auto;
  padding: 0;
}

footer ul.features-content li {
  font-weight: 100;
  font-size: 30px;
}
footer {
  display: flex;
  margin: 0 auto;
  padding-top: 20px;
  width: 1000px;
  height: 280px;
  align-items: center;
}
.h3 {
  margin: 0%;
}

footer div {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

footer div.logo i {
  color: orange;
  font-size: 2rem;
  font-weight: 700;
  align-items: center;
}

footer ul.features-content {
  list-style: none;
  line-break: auto;
  padding: 0;
}

footer ul.features-content li {
  font-weight: 100;
  font-size: 15px;
}
