/*기본적인 폰트*/
body {
  margin: 0;
  font-family: "Source Sans Pro";
  background-color: rgb(255, 255, 255);
}

a {
  font-size: 15px;
  font-weight: bold;
}
.header {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding-right: 0;
}

.header2 {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 10px;
  margin: 0;
}

/*전체적 배치 배경 및 로고 작업 Header*/
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
  text-align: center;
  background: rgb(138, 169, 228);
}

.navbar_logo {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
}

.navbar_logo i {
  color: rgb(255, 255, 255);
}

/*메뉴 배치작업 및 데코레이션*/
.navbar_menu {
  list-style: none;
  display: flex;
  padding-left: 0px 8px;
}

.navbar_menu li {
  padding: 8px 30px;
}
.navbar_menu li:hover {
  background: rgb(153, 223, 245);
  border-radius: 4px;
}
/*아이콘 작업및 배치*/
.navbar_icons {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.navbar_icons li {
  padding: 8px 4px;
}

.navbar_toggle {
  color: rgb(255, 255, 255);
  font-size: 30px;
  display: none;
}

/*Max 픽셀이 줄어듬에따른 배치 변경 내역*/
@media screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar_menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none; /*display를 None으로*/
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_icons {
    justify-content: center;
    width: 100%;
  }

  .navbar_toggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .navbar_menu.active {
    display: flex; /*디스플레이를 플렉스로 변경한다.*/
  }
}
/*Header End*/
/*body Start*/
.main_content {
  display: flex;
  margin-top: 200px;
}

.login_box {
  width: 429px;
  margin: 0 auto;
}
.login_title {
  margin: 50px 0 0 0;
  padding-bottom: 5px;
  border-bottom: solid 2px #ffbe10;
}
.login_title span {
  font-size: 20px;
  font-weight: bold;
}
.login_form {
  margin-top: 20px;
  margin-left: 0 auto;
}
.login {
  width: 350px;
  height: 25px;
}

.login_form li {
  margin-top: 10px;
}
#login_form input {
  width: 100%;
  height: 47px;
}
.login_btn {
  margin: 0 auto;
  text-align: center;
}
.btn {
  background: rgb(133, 250, 142);
  width: 250px;
  height: 50px;
  margin: 0 auto;
  right: 500px;
}
.btn :hover {
  background: chartreuse;
}

.autologin {
  border-collapse: collapse;
  margin: 0 auto;
}

/*body End*/

/*footer start*/
footer {
  display: flex;
  margin: 0 auto;
  padding-top: 200px;
  width: 1000px;
  height: 280px;
  align-items: center;
}
.h3 {
  margin: 0%;
}

footer div {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

footer div.logo i {
  color: orange;
  font-size: 2rem;
  font-weight: 700;
  align-items: center;
}

footer ul.features-content {
  list-style: none;
  line-break: auto;
  padding: 0;
}

footer ul.features-content li {
  font-weight: 100;
  font-size: 15px;
}
footer {
  display: flex;
  margin: 0 auto;
  padding-top: 100px;
  width: 1000px;
  height: 280px;
  align-items: center;
}
.h3 {
  margin: 0%;
}

footer div {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

footer div.logo i {
  color: orange;
  font-size: 2rem;
  font-weight: 700;
  align-items: center;
}

footer ul.features-content {
  list-style: none;
  line-break: auto;
  padding: 0;
}

footer ul.features-content li {
  font-weight: 100;
  font-size: 15px;
}
/*footer End*/

/*Main Content Start*/
.main_content {
  position: relative;
  width: 800px;
  height: 240px;
  margin: 0 auto;
}

/*최신 게시글*/
#noticeboard {
  position: absolute;
  width: 700px;
  right: 430px;
  top: 30px;
  margin: 0 auto;
}
#noticeboard h4 {
  width: 400px;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: solid 1px #dddddd;
}
#noticeboard ul {
  margin-top: 20px;
  margin-left: 3px;
}
#noticeboard li {
  margin-top: 8px;
}
#noticeboard span {
  display: inline-block;
}
#noticeboard span:nth-child(1) {
  width: 350px;
}

#noticeboard span:nth-child(2) {
  width: 30px;
}

/*가정통신문*/
#Familyletter {
  position: absolute;
  top: 30px;
  left: 650px;
}
#Familyletter h4 {
  width: 500px;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: solid 1px #dddddd;
}
#Familyletter ul {
  margin-top: 20px;
}
#Familyletter li {
  margin-top: 8px;
  margin-left: 10px;
}
#Familyletter span {
  display: inline-block;
}

#Familyletter span:nth-child(1) {
  width: 250px;
}

#Familyletter span:nth-child(3) {
  width: 120px;
}

/*공지사항*/
#Invitation {
  position: absolute;
  top: 30px;
  left: 140px;
}
#Invitation h4 {
  width: 400px;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: solid 1px #dddddd;
}
#Invitation ul {
  margin-top: 20px;
}
#Invitation li {
  margin-top: 8px;
  margin-left: 10px;
}
#Invitation span {
  display: inline-block;
}

#Invitation span:nth-child(1) {
  width: 380px;
}

#Invitation span:nth-child(3) {
  width: 100px;
}

/*body Start*/
/*Main Content Start*/
.main_content {
  position: relative;
  width: 900px;
  height: 240px;
  margin: 0 auto;
}
h2 {
  text-align: center;
  margin: 20px 0;
}
.text1 {
  color: rgb(0, 0, 0);
}

input[type="button"],
input[type="submit"] {
  background-color: #81c2f7;
  color: #282828;
  font-size: 15px;
  width: 120px;
  text-align: center;
  display: inline-block;
  padding: 4px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}

div {
  margin-top: 20px;
  text-align: center;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
}

th {
  border: 1px solid black;
  width: 150px;
  border-left: 1px solid white;
  background: rgb(196, 194, 194);
  padding: 10px;
}

td {
  border: 1px solid black;
  border-right: 1px solid white;
  width: 800px;
  padding: 10px;
}

.idcollect {
  color: rgb(196, 0, 0);
}

.essential_form {
  background-image: url(C:\Users\User\Desktop\image.gif);
  background-repeat: no-repeat;
  background-position: top right;
}
/*body End*/
/*footer Start*/
footer {
  display: flex;
  margin: 0 auto;
  padding-top: 20px;
  width: 1000px;
  height: 280px;
  align-items: center;
}
.h3 {
  margin: 0%;
}

footer div {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

footer div.logo i {
  color: orange;
  font-size: 2rem;
  font-weight: 700;
  align-items: center;
}

footer ul.features-content {
  list-style: none;
  line-break: auto;
  padding: 0;
}

footer ul.features-content li {
  font-weight: 100;
  font-size: 30px;
}
footer {
  display: flex;
  margin: 0 auto;
  padding-top: 20px;
  width: 1000px;
  height: 280px;
  align-items: center;
}
.h3 {
  margin: 0%;
}

footer div {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

footer div.logo i {
  color: orange;
  font-size: 2rem;
  font-weight: 700;
  align-items: center;
}

footer ul.features-content {
  list-style: none;
  line-break: auto;
  padding: 0;
}

footer ul.features-content li {
  font-weight: 100;
  font-size: 15px;
}
